<p-tabView>
    <p-tabPanel header="Header I">
        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">
                <i class="pi pi-shop" style="font-size: 1.5rem"></i>
                <span class="font-bold white-space-nowrap m-0">
                    Products
                </span>
            </div>
        </ng-template>
        <p>
        </p>
    </p-tabPanel>
    <p-tabPanel header="Header I">
        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">
                <i class="pi pi-shopping-cart" style="font-size: 1.5rem"></i>
                <span class="font-bold white-space-nowrap m-0">
                    Orders
                </span>
            </div>
        </ng-template>
        <p>
        </p>
    </p-tabPanel>
</p-tabView>