<div class="text-center align-content-center bg-primary shadow-1 h-3rem border-round">
    <div>Teleport</div>
</div>
<div class="card card-container flex justify-content-center align-items-center p-6">
    <div (click)="navigateToOrder()"
        class="border-1 border-orange-700 w-12rem h-6rem m-2 surface-overlay font-bold flex align-items-center justify-content-center">
        <div><i class="pi pi-cart-arrow-down" style="font-size: 2.5rem"></i></div>
    </div>
    <div
        class="border-1 border-primary-500 w-12rem h-6rem m-2 surface-overlay font-bold flex align-items-center justify-content-center">
        <div><i class="pi pi-shop" style="font-size: 2.5rem"></i></div>
    </div>
</div>